body {
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom right, darkred, red);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 44px #ababab;
}

.header div {
    color: white;
    font: bold 56px "Trebuchet MS";
}

.content {
    margin-top: 132px;
    justify-content: center;
    text-align: center;
}

.authorField {
    width: 60em;
    border-radius: 25px;
    padding: 20px 24px;
    font-family: "Trebuchet MS", sans-serif;
    margin: 28px auto;
    box-shadow: 0 0 16px #ababab;
    text-align: left;
}

.authorField .title {
    text-align: left;
    font: bold 24px "Trebuchet MS";
    margin-bottom: 12px;
}

.authorField .email, .authorField .phoneNumber {
    font: 20px "Trebuchet MS";
    margin-bottom: 8px;
}

.backToMain {
    width: 60em;
    text-align: left;
    font-family: "Trebuchet MS", sans-serif;
    margin: 28px auto;
}

.link{
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
}

.link:hover{
    color: #009d00;
}

.footer {
    background: linear-gradient(to bottom right, #1f701f, #087e08);
    color: #e3e3e3;
    font: bold 20px "Trebuchet MS";
    margin-top: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 0;
}

