body {
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom right, darkred, red);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 44px #ababab;
}

.header div {
    color: white;
    font: bold 56px "Trebuchet MS";
}

.content {
    margin-top: 132px;
    justify-content: center;
    text-align: center;
}

.news {
    width: 70em;
    padding: 20px 24px;
    font-family: "Trebuchet MS", sans-serif;
    margin: 28px auto;
    text-align: left;
}

.news .title {
    text-align: center;
    font: bold 26px "Trebuchet MS";
    margin-bottom: 12px;
}

.news .preview {
    font-size: 22px;
    text-align: justify;
    margin-bottom: 16px;
}

.news .text {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.news .text img {
    float: left;
    margin-right: 12px;
    width: 480px;
}

.news .date {
    color: #626262;
    text-align: left;
}

.link{
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
}

.link:hover{
    color: #009d00;
}

.footer {
    background: linear-gradient(to bottom right, #1f701f, #087e08);
    color: #e3e3e3;
    font: bold 20px "Trebuchet MS";
    margin-top: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    height: 5em;
    position: absolute;
    bottom: 0;
}